In [106]:
!pip install transformers

Requirement already satisfied: transformers in /opt/conda/lib/python3.11/site-packages (4.42.4)
Requirement already satisfied: filelock in /opt/conda/lib/python3.11/site-packages (from transformers) (3.15.4)
Requirement already satisfied: huggingface-hub<1.0,>=0.23.2 in /opt/conda/lib/python3.11/site-packages (from transformers) (0.24.0)
Requirement already satisfied: numpy<2.0,>=1.17 in /opt/conda/lib/python3.11/site-packages (from transformers) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.11/site-packages (from transformers) (23.2)
Requirement already satisfied: pyyaml>=5.1 in /opt/conda/lib/python3.11/site-packages (from transformers) (6.0.1)
Requirement already satisfied: regex!=2019.12.17 in /opt/conda/lib/python3.11/site-packages (from transformers) (2024.5.15)
Requirement already satisfied: requests in /opt/conda/lib/python3.11/site-packages (from transformers) (2.31.0)
Requirement already satisfied: safetensors>=0.4.1 in /opt/conda/lib/python3.11/site-packages (from transformers) (0.4.3)
Requirement already satisfied: tokenizers<0.20,>=0.19 in /opt/conda/lib/python3.11/site-packages (from transformers) (0.19.1)
Requirement already satisfied: tqdm>=4.27 in /opt/conda/lib/python3.11/site-packages (from transformers) (4.66.1)
Requirement already satisfied: fsspec>=2023.5.0 in /opt/conda/lib/python3.11/site-packages (from huggingface-hub<1.0,>=0.23.2->transformers) (2024.6.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /opt/conda/lib/python3.11/site-packages (from huggingface-hub<1.0,>=0.23.2->transformers) (4.8.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.11/site-packages (from requests->transformers) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.11/site-packages (from requests->transformers) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.11/site-packages (from requests->transformers) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.11/site-packages (from requests->transformers) (2023.7.22)

In [154]:
import json
import requests
import time
from sqlalchemy import create_engine, text
import pandas as pd
import numpy as np

engine = create_engine('postgresql://postgres:argmax@pg:5432/postgres')

In [108]:
import json, requests, time
from sqlalchemy import create_engine
import pandas as pd

# Postgres vector search
We have seen that postgres is capable of running a k-nearest neighbor search with the cosine similarity metric

## Example
These are the 10 closest apps to the zero vector

In [109]:
vec = [0 for _ in range(1024)]
sql_query = f'''
SELECT
    *
FROM app_vectors
ORDER BY embedding<=>'{json.dumps(vec)}'
LIMIT 10
'''

with engine.connect() as db_con:
    df = pd.read_sql(sql_query, con=db_con)

df

,id,bundleId,content,embedding
0,1,com.loop.match3d,"Get ready for a new, challenging and original ...","[0.31683657,0.6250096,-0.12035612,0.21742296,-..."
1,2,com.YayySAL.DodgeAgent,"Your mission, should you choose to accept it, ...","[0.54112995,0.74467605,-0.58174556,0.9596781,0..."
2,3,com.tintash.nailsalon,It is manicure madness over here and it�s your...,"[0.31176758,0.6059474,-1.139566,0.07630952,-0...."
3,4,com.tilegarden.match3,\nIf you enjoy playing Match 3 tile & mahjong ...,"[0.05092397,1.0967331,-0.30831552,0.13220598,-..."
4,6,com.AppIdeas.LevelUpRunner,"Are you a real hero? Are you the strongest, th...","[0.8975636,0.4644263,-0.1801914,1.2617054,0.07..."
5,17,1582745578,Dominate the coal industry and become the next...,"[0.88490415,0.6585203,-0.33866996,0.18323657,0..."
6,18,1569586264,Choose the appropriate outfit to make it throu...,"[0.20005348,0.3608348,-0.137923,0.34308633,-0...."
7,5,com.kamilbilge.ropesavior3d,Become the hero we need in this tangled puzzle...,"[0.51124793,0.512806,-0.056304544,1.2819325,0...."
8,7,se.ace.fishinc,Gather your riches and travel across the open ...,"[0.73094386,0.41121805,-0.6196006,0.5350147,0...."
9,8,com.volt.dresstoimpress,\nChoose the appropriate outfit to make it thr...,"[0.20005348,0.3608348,-0.137923,0.34308633,-0...."

In [110]:
# Embedding new data
We can embed new data with this API call

SyntaxError: invalid syntax (2159921380.py, line 2)

In [ ]:
query_text = "A farming game"
query_vec = requests.get("http://emb:8080/embed", params ={"text": query_text}).json()
print(query_vec)

#  Embed the text data within Postgres?
You are were asked to extend Postgres, such that the following syntax would work
## Desired outcome

    SELECT
        "bundleId"
    FROM app_vectors
    ORDER BY embedding<=>embed('a farming game')
    LIMIT 10

## Steps to achieve this
1. Use the [pghttp](https://github.com/pramsey/pgsql-http) extension to query the embedding endpoint.
2. Create an [SQL Function](https://www.postgresql.org/docs/current/sql-createfunction.html).
3. Verify that the above `embed` function yields the same result as embedding in python
4. Verify that the `ORDER BY embedding<=>embed('a farming game')` clause works without erros.

## Submission
You have 3 hours to complete the assignment.

Feel free to use any tool you think is helpful (Google, ChatGPT, CoPilot, etc).


Once done please notify your interviewer.

## Uri's Number:
0507-649-650

In [124]:
import json
import requests
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

# Database connection
engine = create_engine('postgresql://postgres:argmax@pg:5432/postgres')

# Example embedding vector
vec = [0 for _ in range(1024)]
sql_query = f'''
SELECT
    *
FROM app_vectors
ORDER BY embedding <=> '{json.dumps(vec)}'
LIMIT 10
'''
with engine.connect() as db_con:
    df = pd.read_sql(sql_query, con=db_con)

print(df)

# Embedding new data
query_text = "A farming game"
query_vec = requests.get("http://emb:8080/embed", params={"text": query_text}).json()
print(query_vec)

   id                     bundleId  \
0   1             com.loop.match3d
1   2       com.YayySAL.DodgeAgent
2   3        com.tintash.nailsalon
3   4        com.tilegarden.match3
4   6   com.AppIdeas.LevelUpRunner
5  17                   1582745578
6  18                   1569586264
7   5  com.kamilbilge.ropesavior3d
8   7               se.ace.fishinc
9   8      com.volt.dresstoimpress

                                             content  \
0  Get ready for a new, challenging and original ...
1  Your mission, should you choose to accept it, ...
2  It is manicure madness over here and it�s your...
3  \nIf you enjoy playing Match 3 tile & mahjong ...
4  Are you a real hero? Are you the strongest, th...
5  Dominate the coal industry and become the next...
6  Choose the appropriate outfit to make it throu...
7  Become the hero we need in this tangled puzzle...
8  Gather your riches and travel across the open ...
9  \nChoose the appropriate outfit to make it thr...

                                           embedding
0  [0.31683657,0.6250096,-0.12035612,0.21742296,-...
1  [0.54112995,0.74467605,-0.58174556,0.9596781,0...
2  [0.31176758,0.6059474,-1.139566,0.07630952,-0....
3  [0.05092397,1.0967331,-0.30831552,0.13220598,-...
4  [0.8975636,0.4644263,-0.1801914,1.2617054,0.07...
5  [0.88490415,0.6585203,-0.33866996,0.18323657,0...
6  [0.20005348,0.3608348,-0.137923,0.34308633,-0....
7  [0.51124793,0.512806,-0.056304544,1.2819325,0....
8  [0.73094386,0.41121805,-0.6196006,0.5350147,0....
9  [0.20005348,0.3608348,-0.137923,0.34308633,-0....
[0.354161, 0.84812, -0.030283, -0.266633, -0.291369, -0.235803, -0.328549, 0.556076, 0.266264, 0.80911, 0.088049, 0.425911, 0.366686, 0.266709, -0.140682, -0.460999, -0.554848, -0.686549, -0.32312, 0.068695, 0.559805, 0.457103, -0.860526, -0.005353, -0.523179, 0.301315, -0.24018, -0.324041, 0.659638, 0.821582, -0.161331, 0.125691, -0.01421, -0.347641, -0.507953, -0.617259, 0.252902, -0.143336, -0.472049, -0.525402, 0.562245, -0.354457, 0.047799, -0.168605, 0.183768, -0.484756, 0.497892, -0.91902, 0.497971, -0.050204, 0.134188, -0.502711, -0.414338, -0.215174, -0.648831, -0.228309, -0.019863, 0.19901, -0.309925, 0.597038, 1.35365, -0.230923, 0.069312, -0.212216, 0.794983, 0.892149, -0.509315, -0.528928, -0.061135, -0.452766, -0.853116, 0.23235, -0.493771, -0.62472, 0.480888, 0.490588, 0.388388, -0.04094, -0.14579, 0.589986, 0.033822, 0.541735, 0.020558, -0.31214, -0.767122, 0.004014, 0.754479, 0.060997, -0.14613, -0.595551, -0.218311, 0.35509, -0.330841, 0.541867, 0.405484, 0.875575, 0.325514, 0.874761, 0.065385, 0.209439, 0.088844, 0.288087, -0.601715, 0.724945, -0.606595, 0.05973, 0.385773, 0.309983, -0.817644, -0.406794, 0.577615, 0.285542, 0.589348, -0.458829, -0.553466, 0.987966, 0.428647, 0.053839, -0.761093, 0.487733, -0.029518, -0.096865, 0.50298, -0.045338, -0.000626, -0.243727, -0.875935, 1.084931, -0.317828, -0.747668, 0.717453, -0.723938, 0.153791, 1.103987, -0.605915, 0.414319, 0.023215, 0.422746, -0.250836, -0.487656, 0.800909, 0.153449, -0.586883, 1.042746, 0.301232, -0.413564, -0.331347, 0.165598, -1.048634, 0.884747, -0.839686, -0.445691, -0.522926, 0.522907, 0.292529, -0.689747, 0.056716, 0.253771, -0.02152, -0.058049, 0.016636, 0.719209, -0.483485, 0.532709, 0.056967, 0.688186, -0.479549, -0.514538, -0.588456, 0.187725, -0.028902, -0.179501, 0.281745, 0.450376, 0.55664, 0.051219, 1.458999, 0.169334, 0.933066, 0.570478, -0.44514, 0.290412, -0.72695, 1.357537, -0.219485, 0.666319, -0.255676, -0.054412, -0.574251, -0.121341, 0.042883, -0.182086, 0.516713, 0.632499, 0.595316, 0.089984, 0.010077, 0.087088, -0.245401, -0.410911, -0.191164, 0.291342, 0.115172, 0.214775, 0.37893, -0.385021, 0.344791, 0.189144, -1.231086, -0.495728, 0.4419, 0.081697, -0.451615, -0.02292, 0.154328, 0.068682, -0.924902, 0.752066, 0.321053, -0.709318, 0.490803, 0.537957, -0.113915, 0.409217, 0.075435, -0.350125, -0.377062, 0.065074, 0.907594, 0.426539, -0.167463, 0.707515, 0.677876, 1.145007, 0.144602, -0.682429, 0.406703, -0.567338, -0.491417, 0.614714, 0.025667, -0.110641, 0.18027, 0.015596, 0.089232, 1.200125, 0.423262, 0.165144, -0.382445, 0.523164, -0.426334, -0.181963, 0.178069, 0.373691, -0.429843, 0.089572, 0.482546, 0.77301, -0.666591, -0.233694, -0.250529, -0.010985, 0.458025, 0.207672, 0.063433, 0.071593, -1.183174, 0.590834, 0.30913, -0.323312, -0.574144, -0.908327, -0.074103, -0.490503, -0.734922, -0.594598, 0.51583, -0.184809, 0.08534, -0.848385, -0.155679, -0.512969, -0.000196, 0.558526, 0.136102, 0.799376, -0.508944, -0.275965, -0.523222, 0.68783, 0.003085, 0.545708, -0.115001, -0.99396, 0.219415, -0.330591, 0.087214, -0.532075, 0.274345, -0.428831, -0.602061, 0.325147, -0.258583, -0.32526, 0.618335, -0.1689, 0.197569, -1.084366, 0.421745, 0.280792, -0.614353, -0.342039, -0.46072, -0.11884, -0.677006, 0.656432, 0.731794, -0.19675, -0.254368, -0.124706, -0.167915, -1.122812, 0.250795, 0.940727, -0.316125, 0.41684, 0.19375, -1.588455, 0.437776, 0.679019, -0.828892, -0.279224, 0.154536, 0.503362, 0.378677, -0.554083, 0.352637, -0.738589, 0.018768, -0.148965, 1.199084, -0.195657, 0.411834, 0.901358, 1.043169, 0.402168, 0.539316, 0.627149, 0.126999, -0.229806, -0.292717, 0.121826, 0.238827, -0.045166, 0.09023, -0.165416, -0.591734, 0.294015, -0.372741, -0.108314, 0.432579, 0.203725, -0.203695, -0.377182, -0.344318, -0.459254, 0.277833, 0.247231, 0.317285, -0.575304, 0.461973, 0.198122, 0.559609, 0.472856, -0.110046, -0.216414, 0.645099, -0.629424, 0.971873, -0.8374, 0.209058, -0.022943, 0.598554, 0.428322, 1.078752, 0.527411, 0.44473, 0.148089, -0.480627, -0.115289, 0.447598, -0.774021, -0.240517, 0.088624, -0.393746, -0.031648, 0.359593, 0.306791, 0.710362, 0.078329, 0.363564, -0.713326, -0.144872, 0.042371, -0.085204, 1.029302, -0.187271, -0.331606, 0.010084, -0.894627, -0.768537, -0.077305, -0.172143, 0.210939, 0.698367, -0.014266, -0.131549, 0.316651, -0.319038, 0.35673, 0.185573, -0.520832, 0.025131, 0.469581, 0.380165, -0.644063, 0.159727, -0.810516, 0.010438, 0.154568, 0.232363, 0.018317, -0.540555, -0.211359, -0.192829, 0.253632, 0.517998, -0.185887, -0.089369, 0.090446, -0.217444, 0.188479, 0.643903, 0.2883, 0.047141, 0.29193, 0.481908, 0.512615, -0.022862, -0.534271, -0.031239, -0.690683, -0.37669, -0.275636, -0.024387, -0.205637, 0.50146, -0.29583, 0.2523, -1.148981, -0.290631, 0.083664, 0.365606, -0.729376, -0.417436, 0.784527, -0.162746, -0.502489, 1.094937, 0.192721, -0.753356, 1.097371, 0.928677, -0.797049, 0.692077, -0.340578, 0.522548, -0.185987, 0.152182, 0.46028, 0.073703, 0.417512, 0.052392, 0.164354, -0.781662, -1.107621, -0.370869, 1.070772, -0.31676, 1.069975, -0.680007, -0.343012, -0.165308, 0.084397, -0.106387, 0.067035, 0.246898, 0.106662, 0.353833, 0.088634, -0.768727, -0.226493, -0.83086, -1.081531, -0.554356, 0.191126, -0.014305, -1.12928, -0.016774, 0.715538, -0.56355, -0.332402, -0.129829, 0.343817, 0.545547, 0.68141, -0.403119, 0.136958, -1.005767, 0.382601, -0.310561, -1.329026, -0.77259, 0.655965, 0.234299, 0.490112, 0.252685, -0.149625, -0.381688, -0.975855, 0.159656, -0.488193, -0.488829, -1.028515, -0.914613, -0.638224, -0.401889, 0.211799, -0.562452, -0.735428, -0.637741, -0.484367, 0.121405, -0.398615, -1.137328, 0.208517, 0.295059, 0.431777, -0.083859, -0.102968, 0.128301, -0.296688, 0.210744, 0.615116, -0.001582, -0.17598, -0.585091, -0.569075, -0.353627, -0.057594, -0.403055, -0.387795, -0.721459, -0.606999, 0.261441, -0.807666, 0.466088, 0.276842, 0.341618, 0.426892, 0.696314, -0.930684, 0.852323, 0.981446, 0.32672, -0.669247, -0.239906, -0.946836, -0.599569, 0.524141, -0.248034, -0.766674, -0.883556, -0.147801, 1.285334, 0.308496, 0.736435, 1.008042, 0.146263, -0.319815, -0.636543, 0.209397, 0.431801, -0.103301, 0.07057, -0.475363, 0.033187, 0.291837, -0.370205, -0.398616, -0.594615, 0.395332, 0.104926, -0.208631, 0.317245, -0.421519, -0.875244, -0.813133, 0.185034, 0.614922, 0.022602, 1.274614, 0.841988, -0.037079, 0.650956, 0.84883, 0.100541, -1.036849, 0.204247, -0.675593, -0.175009, 0.121537, 0.076432, -1.528685, 0.10963, -0.798258, 0.261929, 0.512984, -0.596867, 0.546103, -0.652868, -0.346853, 0.483958, 0.134045, -0.684582, 0.425282, -0.551685, 0.915166, -1.54787, 0.339055, 0.547781, -0.633334, -0.086555, -0.571299, -0.159751, -0.330422, 0.392878, 0.193891, -0.85801, 0.215109, 0.237325, 0.435327, 0.18864, -0.507656, -0.098387, 0.575813, -0.492275, -0.56986, -0.942734, 0.028788, 1.264763, 0.463081, -0.589412, -0.024235, 0.05415, -0.160777, -0.01698, -0.454279, -0.441509, 0.038899, -0.149722, -0.955811, -0.145827, 0.397142, -0.09061, 0.286573, 0.526939, 0.446899, 0.768872, -0.281973, 0.468672, -0.554819, 0.105144, -0.095344, -0.657515, -0.212531, 0.456219, -0.46351, 0.08035, -0.362155, 0.076956, -0.041802, -0.001239, 0.566366, -0.234028, -0.293852, -0.293548, -0.337792, -0.081796, -0.590816, 0.452141, 0.870046, 0.225497, -0.066834, -0.016696, 0.177609, -0.163268, 0.372006, 0.140909, -0.877904, -0.357409, -0.363891, 0.203143, -0.110348, 0.196898, -0.096061, 0.388797, -0.439898, 0.151201, 0.231338, 1.327982, -0.066786, 0.271863, -0.342706, -0.153156, -0.054365, -0.271178, -0.112739, 0.030976, 0.477759, -0.77367, 0.098631, 0.102129, 0.195883, 0.196964, 0.219893, -0.115922, 0.405876, -0.605709, -0.024075, 0.529089, -0.143771, -0.123168, 0.858166, -0.212738, -0.366716, -0.445166, -0.72269, -0.518779, 0.206268, -0.405906, -0.20999, 0.346021, -0.183007, -0.349843, -0.335487, 0.037478, -0.068021, 0.205737, -0.47787, 1.208786, -0.448778, -1.013103, -0.090982, 0.680442, -0.690575, -0.348868, -0.198519, 0.25645, 0.235874, 0.021399, -0.165243, -0.458595, 0.358805, 0.693833, -0.169009, -0.402562, -0.73727, -0.038969, 0.429303, 0.392973, -0.43197, 1.181275, -0.10372, -0.202911, -0.551232, 0.637846, 0.078403, 0.329364, 0.736824, -0.414199, 0.458578, -0.415145, -0.126951, -0.319423, 0.652325, -0.235826, 1.042203, 0.397393, -0.174889, 0.335706, -0.387599, 0.517737, 0.99064, -0.266575, -0.010883, 0.870489, -0.155666, -0.039704, 0.130918, -0.129896, -0.113485, -0.405907, 0.112003, -0.126373, 0.26625, 0.510675, -0.210588, 0.497521, 0.415109, -0.738169, -0.100671, 0.413025, -1.539827, -0.356223, 0.737969, 0.669681, -0.062801, 0.537858, 0.544569, 0.281434, -0.403169, 0.510003, 0.413951, -0.038189, -0.08845, 0.264723, -0.064973, -0.540175, 0.344878, -0.568847, -0.095912, 0.012377, -0.574206, 0.071151, -0.024766, -0.035929, 0.731607, 0.06899, 0.066774, -0.616409, -0.035519, 0.367393, 0.514079, 0.477442, 0.617824, 0.097325, 0.944078, 0.586713, 0.00941, 0.566074, -1.016856, -0.179801, 0.208733, 0.243179, -0.272681, -0.115406, -0.433811, -0.933374, -0.398766, 0.344137, 0.077005, -0.560271, -0.415049, 0.064412, -0.411889, -0.507722, 0.468153, 0.495257, 0.84669, -0.227481, 0.192827, -0.314634, 0.740925, -1.077849, 0.010095, -0.871845, -0.281011, -0.79021, -0.43754, -0.045451, -0.441766, -0.63747, -0.42765, 0.793788, -0.223789, 0.008668, -0.056353, 0.02645, -0.220388, 0.354818, 0.444139, -0.011533, 0.036218, 0.333988, -0.079568, -0.251779, -0.695345, 0.201446, -0.447885, -0.015809, -0.786139, -0.005272, -0.69813, -0.966821, 0.539976, 0.476709, -0.592068, -0.275945, -0.782643, -0.458845, 0.043084, -0.213824, -0.999417, 0.499644, -0.463828, -0.210451, -0.83765, -0.412267, 4.200332, 0.122854, 0.036072, 0.512468, -0.052731, 0.128278, 1.177968, -0.720035, -0.096176, 0.614927, 0.220985, 0.490446, 0.897849, 0.65052, 0.071577, 0.485902, -0.702958, 0.927842, 0.51772, -0.471214, 0.069036, 0.019843, 0.544615, 0.163069, -0.350843, 0.468654, 0.043412, -0.686782, -0.269552, 0.425303, 1.304151, -0.729224, 0.065544, -0.346799, -0.606319, 0.989933, -0.257096, -0.158406, 0.079157, -0.330431, 0.139549, 0.378557, -0.595593, -0.248862, -0.065033, 1.496579, -0.317313, 0.494904, 1.36759, -0.379677, -0.221813, -0.509821, 0.090746, -0.167979, -0.051478, 0.018044, -0.244168, -0.766774, -0.60009, 0.507669, 0.975762, -0.767244, 0.607306, 0.623611, -0.147975, 0.439874, 1.208209, -0.863143, 0.160982, -0.240099, -0.341789, -0.300856, -0.77222, -0.731234, 0.379893, 0.040508, 0.429267, 0.435521, 0.987797, -0.519052, -0.625515, -0.909567, -0.324635, -0.13395, 0.226966, -0.168802, -0.355987, 0.515231, 0.143997, 0.041805, -0.031474, 0.116831, 0.153316, -0.438621, 0.29615]

In [160]:
from sqlalchemy import text

sql_fun = '''
CREATE OR REPLACE FUNCTION embed(text)
RETURNS json AS $$
DECLARE
    result json;
BEGIN
    SELECT content::json
    INTO result
    FROM http_get('http://emb:8080/embed?text=' || $1);

    RETURN result;
END;
$$ LANGUAGE plpgsql;
'''


with engine.connect() as db_con:
    res = db_con.execute(text(sql_fun))

In [141]:
from sqlalchemy import text

sql_fun = '''
CREATE OR REPLACE FUNCTION embed(text)
RETURNS json AS $$
DECLARE
    result json;
BEGIN
    SELECT content::json
    INTO result
    FROM http_get('http://emb:8080/embed?text=a%20farming%20game');

    RETURN result;
END;
$$ LANGUAGE plpgsql;
'''

sql_check = '''
SELECT embed('123');
'''

with engine.connect() as db_con:
    res = db_con.execute(text(sql_fun))
    result = db_con.execute(text(sql_check))
    rows = result.fetchall()
    
    # Convert the result to a pandas DataFrame for better display
    df = pd.DataFrame(rows, columns=result.keys())
df

                                               embed
0  [0.354161, 0.84812, -0.030283, -0.266633, -0.2...

In [150]:
from sqlalchemy import text

sql_fun = '''
CREATE OR REPLACE FUNCTION embed(input_text text)
RETURNS json AS $$
DECLARE
    result json;
    transformed_text text;
BEGIN
    transformed_text := REPLACE(input_text, ' ', '%20');
    SELECT content::json
    INTO result
    FROM http_get('http://emb:8080/embed?text=' || transformed_text);

    RETURN result;
END;
$$ LANGUAGE plpgsql;
'''

sql_check = '''
SELECT embed('a farming game');
'''


with engine.connect() as db_con:
    res = db_con.execute(text(sql_fun))
    result = db_con.execute(text(sql_check))
    rows = result.fetchall()
    
    # Convert the result to a pandas DataFrame for better display
    df = pd.DataFrame(rows, columns=result.keys())
df

                                               embed
0  [0.354161, 0.84812, -0.030283, -0.266633, -0.2...

In [158]:
from sqlalchemy import create_engine, text
import pandas as pd

# Define the function creation SQL statement
sql_fun = '''
CREATE OR REPLACE FUNCTION embed(input_text text)
RETURNS vector AS $$
DECLARE
    result vector;
    json_result json;
    transformed_text text;
BEGIN
    transformed_text := REPLACE(input_text, ' ', '%20');
    
    -- Make the HTTP request with the transformed text
    SELECT content::json
    INTO json_result
    FROM http_get('http://emb:8080/embed?text=' || transformed_text);

    -- Assuming the JSON response contains a key 'vector' which holds the array
    SELECT array_agg(value::numeric)
    INTO result
    FROM json_array_elements_text(json_result->'vector') AS value;

    RETURN result;
END;
$$ LANGUAGE plpgsql;
'''

# Define the function check SQL statement
sql_check_final = '''
SELECT
    *
FROM app_vectors
ORDER BY embedding <=> embed('a farming game')
LIMIT 10
'''

with engine.connect() as db_con:
    # Execute the function creation
    db_con.execute(text(sql_fun))
    
    # Execute the function check
    result = db_con.execute(text(sql_check_final))
    
    # Fetch all rows from the result
    rows = result.fetchall()
    
    # Convert the result to a pandas DataFrame for better display
    df = pd.DataFrame(rows, columns=result.keys())

# Display the DataFrame
df

,id,bundleId,content,embedding
0,1,com.loop.match3d,"Get ready for a new, challenging and original ...","[0.31683657,0.6250096,-0.12035612,0.21742296,-..."
1,2,com.YayySAL.DodgeAgent,"Your mission, should you choose to accept it, ...","[0.54112995,0.74467605,-0.58174556,0.9596781,0..."
2,3,com.tintash.nailsalon,It is manicure madness over here and it�s your...,"[0.31176758,0.6059474,-1.139566,0.07630952,-0...."
3,4,com.tilegarden.match3,\nIf you enjoy playing Match 3 tile & mahjong ...,"[0.05092397,1.0967331,-0.30831552,0.13220598,-..."
4,6,com.AppIdeas.LevelUpRunner,"Are you a real hero? Are you the strongest, th...","[0.8975636,0.4644263,-0.1801914,1.2617054,0.07..."
5,17,1582745578,Dominate the coal industry and become the next...,"[0.88490415,0.6585203,-0.33866996,0.18323657,0..."
6,18,1569586264,Choose the appropriate outfit to make it throu...,"[0.20005348,0.3608348,-0.137923,0.34308633,-0...."
7,5,com.kamilbilge.ropesavior3d,Become the hero we need in this tangled puzzle...,"[0.51124793,0.512806,-0.056304544,1.2819325,0...."
8,7,se.ace.fishinc,Gather your riches and travel across the open ...,"[0.73094386,0.41121805,-0.6196006,0.5350147,0...."
9,8,com.volt.dresstoimpress,\nChoose the appropriate outfit to make it thr...,"[0.20005348,0.3608348,-0.137923,0.34308633,-0...."

In [159]:
from sqlalchemy import create_engine, text
import pandas as pd

# Define the function creation SQL statement
sql_fun = '''
CREATE OR REPLACE FUNCTION embed(input_text text)
RETURNS vector AS $$
DECLARE
    result vector;
    json_result json;
    transformed_text text;
BEGIN
    transformed_text := REPLACE(input_text, ' ', '%20');
    
    -- Make the HTTP request with the transformed text
    SELECT content::json
    INTO json_result
    FROM http_get('http://emb:8080/embed?text=' || transformed_text);

    -- Assuming the JSON response contains a key 'vector' which holds the array
    SELECT array_agg(value::numeric)
    INTO result
    FROM json_array_elements_text(json_result->'vector') AS value;

    RETURN result;
END;
$$ LANGUAGE plpgsql;
'''

# Define the function check SQL statement
sql_check_final = '''
SELECT
    *
FROM app_vectors
ORDER BY embedding <=> embed('a farming game')
LIMIT 10
'''

with engine.connect() as db_con:
    # Execute the function creation
    db_con.execute(text(sql_fun))
    
    # Execute the function check
    result = db_con.execute(text(sql_check_final))
    
    # Fetch all rows from the result
    rows = result.fetchall()
    
    # Convert the result to a pandas DataFrame for better display
    df = pd.DataFrame(rows, columns=result.keys())

# Display the DataFrame
df

,id,bundleId,content,embedding
0,1,com.loop.match3d,"Get ready for a new, challenging and original ...","[0.31683657,0.6250096,-0.12035612,0.21742296,-..."
1,2,com.YayySAL.DodgeAgent,"Your mission, should you choose to accept it, ...","[0.54112995,0.74467605,-0.58174556,0.9596781,0..."
2,3,com.tintash.nailsalon,It is manicure madness over here and it�s your...,"[0.31176758,0.6059474,-1.139566,0.07630952,-0...."
3,4,com.tilegarden.match3,\nIf you enjoy playing Match 3 tile & mahjong ...,"[0.05092397,1.0967331,-0.30831552,0.13220598,-..."
4,6,com.AppIdeas.LevelUpRunner,"Are you a real hero? Are you the strongest, th...","[0.8975636,0.4644263,-0.1801914,1.2617054,0.07..."
5,17,1582745578,Dominate the coal industry and become the next...,"[0.88490415,0.6585203,-0.33866996,0.18323657,0..."
6,18,1569586264,Choose the appropriate outfit to make it throu...,"[0.20005348,0.3608348,-0.137923,0.34308633,-0...."
7,5,com.kamilbilge.ropesavior3d,Become the hero we need in this tangled puzzle...,"[0.51124793,0.512806,-0.056304544,1.2819325,0...."
8,7,se.ace.fishinc,Gather your riches and travel across the open ...,"[0.73094386,0.41121805,-0.6196006,0.5350147,0...."
9,8,com.volt.dresstoimpress,\nChoose the appropriate outfit to make it thr...,"[0.20005348,0.3608348,-0.137923,0.34308633,-0...."